<div id="monster">
  <div class="empty_box" ng-show="emptyUserCheck()">
    No monsters yet, click the fancy button below to get going
  </div>
  <button class="red_btn main" ng-click="toggleMonsterList()">+ Add Monster</button>

<monster-cage></monster-cage>

</div>

<div id="monstersList" ng-show="showMonsterList">
<!--Monster Search-->
<monsters-search></monsters-search>

  <div class="monster_inlist" ng-repeat="monster in monsters | filter: globalSearch:strict | limitTo: numLimit">
    <button class="green_btn" ng-model="user.monsters" ng-value="monster" ng-click="addMonster(this.monster);showMonsterForm = true">
      + Add
    </button>
        <p>
          {{monster.name}} <sup>({{monster.type}}, CL: {{monster.challenge_rating}})</sup>
        </p>

      <!--Monster Add Player Form-->
      <div class="overlayForm" ng-init="showMonsterForm = false" ng-show="showMonsterForm">
        <form class="newPlayer_form" ng-submit="addPlayerMonster(monster.name, monster.armor_class, initiativeRoll, monster.hit_points, monster.dexterity);showMonsterForm = false">
          <h3>Enter Initiative Roll</h3>
          <input type="text" placeholder="Name" ng-value="monster.name" required/>
          <input type="number" placeholder="Armor Class"  ng-value="monster.armor_class" required/>
          <input type="number" placeholder="Hit Points"  ng-value="monster.hit_points" required/>
          <input type="number" placeholder="Initiative" min="0" max="20" minlength="1"maxlength="2" ng-model="initiativeRoll" required/>
          <input type="submit" value="+ Add" />
        </form>
      </div>
  </div>
</div>
