<div ng-repeat="userMonsters in user track by $index">
  <div class="monsterCage">

    <div class="sectionTitle">

      <h4>
        <strong><input class="adjustText" ng-model="userMonsters.name"
        ng-value="userMonsters.name"
        ng-change="change(userMonsters, 'name')"</strong>
      </h4>
      <p>
        <span>
            {{userMonsters.size}}
            {{userMonsters.type}} {{userMonsters.subtype}},
            <input class="adjustText" ng-model="userMonsters.alignment"
            ng-value="userMonsters.alignment"
            ng-change="change(userMonsters, 'alignment')" />

            (XP per Monster: <input type="number" class="adjustText" ng-model="userMonsters.challenge_rating"
            ng-value="userMonsters.challenge_rating"
            ng-change="change(userMonsters, 'challenge_rating');calculate(numPlayers.numPlayer, levels.level)" />
            Amount: <input type="number" class="adjustText" ng-model="userMonsters.numberOfMonster"
            ng-value="userMonsters.numberOfMonster"
            ng-change="change(userMonsters, 'numberOfMonster');calculate(numPlayers.numPlayer, levels.level)" min="1" />)
      </span>
      <div class="monsterStats">
        <button class="blue_btn" ng-click="showMonsterStats = showMonsterStats== 0 ? 1 : 0" ng-class="{active:showMonsterStats == 1}">Stats</button>
        <button class="green_btn"  ng-click="showMonsterActions = showMonsterActions== 0 ? 1 : 0; showLegendButton = true" ng-class="{active:showMonsterActions == 1}">Abilities</button>
        <button class="gray_btn" ng-click="removeMonster(userMonsters);calculate(numPlayers.numPlayer, levels.level)">X</button>
      </div>
      </p>

    </div>

    <div class="monsterWrapper" ng-init="showMonsterStats = false" ng-show="showMonsterStats">
    <div class="section">
      <p><strong>Speed:</strong></p>
      <p>
        <input class="adjustText" ng-model="userMonsters.speed" ng-value="userMonsters.speed" ng-change="change(userMonsters, 'speed')" />
      </p>
      <strong>HP:</strong>
       <p>Max:
         <input class="adjustNum" type="number" ng-model="userMonsters.hit_points" ng-value="userMonsters.hit_points"
         ng-change="change(userMonsters, 'hit_points')" />
          <sup>
            (<input class="adjustText" ng-model="userMonsters.hit_dice" ng-value="userMonsters.hit_dice"
            ng-change="change(userMonsters, 'hit_dice')" />)
          </sup></p>
    </div>

    <div class="section">
      <p><strong>Attributes: </strong></p>
        <label>Str:
        <input class="adjustNum" type="number"
          ng-model="userMonsters.strength" ng-value="userMonsters.strength"
          ng-change="change(userMonsters, 'strength')" />
        </label>
        <label>Dex:
        <input class="adjustNum" type="number"
          ng-model="userMonsters.dexterity" ng-value="userMonsters.dexterity"
          ng-change="change(userMonsters, 'dexterity')" />
        </label>
        <label>Con:
        <input class="adjustNum" type="number"
          ng-model="userMonsters.constitution" ng-value="userMonsters.constitution"
          ng-change="change(userMonsters, 'constitution')" />
        </label>
        <label>Int:
        <input class="adjustNum" type="number"
          ng-model="userMonsters.intelligence" ng-value="userMonsters.intelligence"
          ng-change="change(userMonsters, 'intelligence')" />
        </label>
        <label>Wis:
        <input class="adjustNum" type="number"
          ng-model="userMonsters.wisdom" ng-value="userMonsters.wisdom"
          ng-change="change(userMonsters, 'wisdom')" />
        </label>
        <label>Cha:
        <input class="adjustNum" type="number"
          ng-model="userMonsters.charisma" ng-value="userMonsters.charisma"
          ng-change="change(userMonsters, 'charisma')" />
        </label>
    </div>

    <div class="section">
      <p><strong>Saving Throws:</strong></p>
        <label>
          Str+<input class="adjustNum" type="number"
          ng-model="userMonsters.strength_save"
          ng-value="userMonsters.strength_save"
          ng-change="change(userMonsters, 'strength_save')" />
        </label>
        <label>
          Dex+<input class="adjustNum" type="number"
          ng-model="userMonsters.dexterity_save"
          ng-value="userMonsters.dexterity_save"
          ng-change="change(userMonsters, 'dexterity_save')" />
        </label>
        <label>
          Con+<input class="adjustNum" type="number"
          ng-model="userMonsters.constitution_save"
          ng-value="userMonsters.constitution_save"
          ng-change="change(userMonsters, 'constitution_save')" />
        </label>
        <label>
          Int+<input class="adjustNum" type="number"
          ng-model="userMonsters.intelligence_save"
          ng-value="userMonsters.intelligence_save"
          ng-change="change(userMonsters, 'intelligence_save')" />
        </label>
        <label>
          Wis+<input class="adjustNum" type="number"
          ng-model="userMonsters.wisdom_save"
          ng-value="userMonsters.wisdom_save"
          ng-change="change(userMonsters, 'wisdom_save')" />
        </label>
        <label>
          Cha+<input class="adjustNum" type="number"
          ng-model="userMonsters.charisma_save"
          ng-value="userMonsters.charisma_save"
          ng-change="change(userMonsters, 'charisma_save')" />
        </label>

        <div id="skills" class="section">
          <p><strong>Skills: </strong></p>
          <ul>
            <li>
              +<input type="number"
              ng-model="userMonsters.acrobatics"
              ng-value="userMonsters.acrobatics"
              ng-change="change(userMonsters, 'acrobatics')" /> Acrobatics (Dex)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.arcana"
              ng-value="userMonsters.arcana"
              ng-change="change(userMonsters, 'arcana')" /> Arcana (Int)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.athletics"
              ng-value="userMonsters.athletics"
              ng-change="change(userMonsters, 'athletics')" /> Athletics (Str)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.deception"
              ng-value="userMonsters.deception"
              ng-change="change(userMonsters, 'deception')" /> Deception (Cha)
            </li>
          </ul>
          <ul>
            <li>
              +<input type="number"
              ng-model="userMonsters.history"
              ng-value="userMonsters.history"
              ng-change="change(userMonsters, 'history')" /> History (Int)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.insight"
              ng-value="userMonsters.insight"
              ng-change="change(userMonsters, 'insight')" /> Insight (Wis)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.intimidation"
              ng-value="userMonsters.intimidation"
              ng-change="change(userMonsters, 'intimidation')" /> Intimidation (Cha)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.investigation"
              ng-value="userMonsters.investigation"
              ng-change="change(userMonsters, 'investigation')" /> Investigation (Int)
            </li>
          </ul>
          <ul>
            <li>
              +<input type="number"
              ng-model="userMonsters.medicine"
              ng-value="userMonsters.medicine"
              ng-change="change(userMonsters, 'medicine')" /> Medicine (Wis)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.nature"
              ng-value="userMonsters.nature"
              ng-change="change(userMonsters, 'nature')" /> Nature (Int)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.perception"
              ng-value="userMonsters.perception"
              ng-change="change(userMonsters, 'perception')" /> Perception (Wis)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.performance"
              ng-value="userMonsters.performance"
              ng-change="change(userMonsters, 'performance')" /> Performance (Cha)
            </li>
          </ul>
          <ul>
            <li>
              +<input type="number"
              ng-model="userMonsters.persuasion"
              ng-value="userMonsters.persuasion"
              ng-change="change(userMonsters, 'persuasion')" /> Persuasion (Cha)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.religion"
              ng-value="userMonsters.religion"
              ng-change="change(userMonsters, 'religion')" /> Religion (Int)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.stealth"
              ng-value="userMonsters.stealth"
              ng-change="change(userMonsters, 'stealth')" /> Stealth (Dex)
            </li>
            <li>
              +<input type="number"
              ng-model="userMonsters.survival"
              ng-value="userMonsters.survival"
              ng-change="change(userMonsters, 'survival')" /> Survival (Wis)
            </li>
          </ul>
        </div>

        <div class="section">
          <p><strong>Damage Resistance/Immunities/Vulnerabilites: </strong></p>
            <label>
              Resistant to <input class="adjustText"
              ng-model="userMonsters.damage_resistances"
              ng-value="userMonsters.damage_resistances"
              ng-change="change(userMonsters, 'damage_resistances')" />
            </label>
            <br />
            <label>
              Immune to <input class="adjustText"
              ng-model="userMonsters.damage_immunities"
              ng-value="userMonsters.damage_immunities"
              ng-change="change(userMonsters, 'damage_immunities')" />
            </label>
            <br />
            <label>
              Vulnerable to <input class="adjustText"
              ng-model="userMonsters.damage_vulnerabilities"
              ng-value="userMonsters.damage_vulnerabilities"
              ng-change="change(userMonsters, 'damage_vulnerabilities')" />
            </label>
        </div>

        <p><strong>Senses: </strong></p>
        <input class="adjustText"
        ng-model="userMonsters.senses"
        ng-value="userMonsters.senses"
        ng-change="change(userMonsters, 'senses')" />

        <p><strong>Languages: </strong></p>
        <input class="adjustText"
        ng-model="userMonsters.languages"
        ng-value="userMonsters.languages"
        ng-change="change(userMonsters, 'languages')" />
    </div>
    </div>

    <div class="monsterActions" ng-init="showMonsterActions = false" ng-show="showMonsterActions">
        <div class="section abilities" ng-repeat="userAbilities in userMonsters.special_abilities">
          <p>
            <strong>Abilities: </strong>
          </p>
            <input class="adjustText" ng-model="userAbilities.name"
            ng-value="userAbilities.name"
            ng-change="change(userAbilities, 'name')"
            />

            <textarea ng-model="userAbilities.desc"
            ng-value="userAbilities.desc"
            ng-change="change(userAbilities, 'desc')"
            ></textarea>

            <label>
              Attack Bonus:
              <input class="adjustNum" type="number" ng-model="userAbilities.attack_bonus"
              ng-value="userAbilities.attack_bonus"
              ng-change="change(userAbilities, 'attack_bonus')"
              />
            </label>

            <label>
              Damage Dice:
              <input class="adjustText" ng-model="userAbilities.damage_dice"
              ng-value="userAbilities.damage_dice"
              ng-change="change(userAbilities, 'damage_dice')"
              />
            </label>

            <label>
              Damage Bonus:
              <input class="adjustNum" type="number" ng-model="userAbilities.damage_bonus"
              ng-value="userAbilities.damage_bonus"
              ng-change="change(userAbilities, 'damage_bonus')"
              />
            </label>

      </div>
      <div class="section abilities" ng-repeat="userAttacks in userMonsters.actions">
        <p>
          <strong>Attack: </strong>
        </p>
          <input class="adjustText" ng-model="userAttacks.name"
          ng-value="userAttacks.name"
          ng-change="change(userAttacks, 'name')"
          />

          <textarea ng-model="userAttacks.desc"
          ng-value="userAttacks.desc"
          ng-change="change(userAttacks, 'desc')"
          ></textarea>

          <label>
            Attack Bonus:
            <input class="adjustNum" type="number" ng-model="userAttacks.attack_bonus"
            ng-value="userAttacks.attack_bonus"
            ng-change="change(userAttacks, 'attack_bonus')"
            />
          </label>

          <label>
            Damage Dice:
            <input class="adjustText" ng-model="userAttacks.damage_dice"
            ng-value="userAttacks.damage_dice"
            ng-change="change(userAttacks, 'damage_dice')"
            />
          </label>

          <label>
            Damage Bonus:
            <input class="adjustNum" type="number" ng-model="userAttacks.damage_bonus"
            ng-value="userAttacks.damage_bonus"
            ng-change="change(userAttacks, 'damage_bonus')"
            />
          </label>
      </div>
      <div class="section" ng-repeat="legendAbilites in userMonsters.legendary_actions">
        <strong><h4>Legendary Ability</h4></strong>
          <p>
            <strong>{{legendAbilites.name}}</strong>
          </p>
          <p>
            {{legendAbilites.desc}}
          </p>
      </div>
    </div>

  </div>
</div>
