<div id="monster">
  <div class="add_monster_btn_wrap">
  <button class="red_btn" ng-click="toggleMonsterList()">Monsters List</button>
</div>

<monster-cage></monster-cage>

</div>

<div id="monstersList" ng-show="showMonsterList">

<!--Monster Search-->
<monsters-search></monsters-search>

  <div class="monster_inlist" ng-repeat="monster in monsters | filter: globalSearch:strict | limitTo: numLimit">
    <button class="green_btn" ng-model="user.monsters" ng-value="monster" ng-click="addMonster(this.monster);showMonsterForm = true">
      + Add
    </button>
        <p>
          {{monster.name}} <sup>({{monster.type}}, CL: {{monster.challenge_rating}})</sup>
        </p>

      <!--Monster Add Player Form-->
      <div class="overlayForm" ng-init="showMonsterForm = false" ng-show="showMonsterForm">
        <form class="newPlayer_form" ng-submit="addPlayerMonster(monster.name, monster.armor_class, initiativeRoll, monster.hit_points, monster.dexterity)">
          <div class="close_btn" ng-click="showMonsterForm = false">
            <div></div>
            <div></div>
          </div>
          <h3>Enter Initiative Roll</h3>
          <input type="text" placeholder="Name" ng-value="monster.name" required/>
          <input type="number" placeholder="Armor Class"  ng-value="monster.armor_class" required/>
          <input type="number" placeholder="Hit Points"  ng-value="monster.hit_points" required/>
          <input type="number" placeholder="Initiative" min="0" max="20" minlength="1"maxlength="2" ng-model="initiativeRoll" required/>
          <input ng-click="showMonsterForm = false" type="submit" value="+ Add"/>
        </form>
      </div>
  </div>
</div>
