<div id="monster">
  <challenge></challenge>
  <div class="empty_box" ng-show="emptyUserCheck()">
    No monsters yet, click the fancy button below to get going
  </div>
  <button class="red_btn main" ng-click="toggleMonsterList()">+ Add Monster</button>

<monster-cage></monster-cage>

</div>

<div id="monstersList" ng-show="showMonsterList">
<!--Monster Search-->
<monsters-search></monsters-search>

  <div class="monster_inlist" ng-repeat="monster in monsters.monster">
    <button class="green_btn" ng-model="user.monsters" ng-value="monster" ng-click="addMonster(monster);showMonsterForm = true;calculate(numPlayers.numPlayer, levels.level)">
      + Add
    </button>
        <p>
          {{monster.name}} <sup>({{monster.type}}, XP: {{monster.challenge_rating}})</sup>
        </p>

      <!--Monster Add Player Form-->
      <div class="overlayForm" ng-init="showMonsterForm = false" ng-show="showMonsterForm">
        <form class="newPlayer_form"  ng-submit="addPlayerMonster(name, armor_class, initiativeRoll, hit_points, monster.dexterity);showMonsterForm = false">
          <h3>Enter Initiative Roll</h3>
          <input type="text" placeholder="Name" ng-model="name" ng-init="name = monster.name" ng-value="monster.name" required/>
          <input type="number" placeholder="Armor Class" ng-model="armor_class" ng-init="armor_class = monster.armor_class" ng-value="monster.armor_class"
          required/>
          <input type="number" placeholder="Hit Points" ng-model="hit_points" ng-init="hit_points = monster.hit_points" ng-value="monster.hit_points"
          required/>
          <input type="number" placeholder="1d20 Roll" min="0" max="20" ng-model="initiativeRoll" required/>
          <input type="submit" value="+ Add" />
        </form>
      </div>
  </div>
</div>
