html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: .5em 0;
}

#players {
  width: 30%;
  min-width: 400px;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}
#players #playerField {
  width: 100%;
}
#players #playerField p {
  text-align: center;
  display: inline-block;
  width: 32.66667%;
  margin-bottom: 1em;
  text-decoration: underline;
}
#players h2 {
  margin: 0 auto 1em;
  text-align: center;
  font-size: 1.5em;
}
#players input {
  width: 32.66667%;
  margin: 0 auto;
  border: none;
  text-align: center;
  padding: 10px 0;
}
#players input[type=submit] {
  margin-top: 1em;
  width: 100%;
  cursor: pointer;
}
#players input[type=submit]:hover {
  background: rgba(0, 0, 0, 0.6);
}

.overlayForm {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form.newPlayer_form {
  background: rgba(255, 87, 34, 0.8);
  padding: 1em;
  display: block;
  width: 45%;
  margin: 20% auto;
}
form.newPlayer_form input {
  text-align: center;
  width: 32.13333%;
  padding: 10px 0;
  margin-top: 1em;
}
form.newPlayer_form input[type=submit] {
  width: 100%;
}
