// Monster Styles

.add_monster_btn_wrap button {
	width: 100%;
	display: block;
	margin: 0 auto 1em;
}

// Space out the monsters directive

monsters {
	margin: 2em 2em 2em 1em;
	@include mediaQ_small(860px) {
		width: 100%;
		margin: 0;
	}
	@include mediaQ_medium(861px, 900px) {
		width: 100%;
	}
	@include mediaQ_large(901px) {
		width: 50%;
	}
	#challenge {
		width: 100%;
		margin-bottom: .3em;
		.field {
			float: left;
			width: 50%;
		}
		input {
			width: 100%;
			padding: 5px;
			text-align: center;
		}
		input[type=submit] {
			width: 100%;
		}
		h4 {
			text-shadow: 1px 1px 1px rgb(0,0,0);
			text-decoration: underline;
			font-weight: bolder;
			text-align: center;
			font-size: 3em;
			padding: .5em;
		}
		p {
			text-align: center;
		}
	}
}

// Main Container

#monster {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	background: $yellow;
	background-image: url('../img/Qdu8ZOl-wallpaper-old-paper.jpg');
	position: relative;
	button.red_btn.main {
		width: 100%;
	}
	@include backGrd;

  // Selected Monsters
	.monsterCage {
	  width: 100%;
	  padding: .1em 1em;
		border-bottom: 1px solid $dark_gray;
	  position: relative;
	  .sectionTitle, .section {
	    margin: .7em 0;
			border-bottom: 1px solid $dark_gray;
			@include clearfix;
	  }
	  h4 {
			display: inline;
			font-size: 1.3em;
		}
		strong {
			font-size: 1.1em;
		}
		p {
			line-height: 1.5em;
			font-size: .9em;
		}
		label {
			font-size: .8em;
			@include mediaQ_small(860px) {
				font-size: 1em;
			}
		}
		input {
			border: 1px solid transparent;
			font-size: .9em;
			padding: 5px;
			background: transparent;
			&:hover {
				border: 1px solid $gray;
				background: lighten($yellow, 10%);
			}
		}
		textarea {
			width: 100%;
			height: 100px;
			background: transparent;
			border: 1px solid transparent;
			&:hover {
				border: 1px solid $gray;
				background: lighten($yellow, 10%);
			}
		}
		.monsterStats {
			position: absolute;
			top: 0;
			right: 0;
			@include mediaQ_small(860px) {
				position: static;
			}
			button.blue_btn, button.red_btn, button.green_btn, button.gray_btn {
				font-size: .6em;
				@include mediaQ_small(860px) {
					font-size: .8em;
				}
			}
		}
		#skills {
			ul {
				width: 33%;
				display: inline;
				float: left;
				margin: .5em 0;
				@include mediaQ_small(550px) {
					width: 100%;
				}
				@include mediaQ_medium(551px, 1340px) {
					width: 50%;
				}
			}
			li {
				font-size: .8em;
				@include mediaQ_small(860px) {
					font-size: 1em;
				}
			}
			input {
				width: 55px;
			}
		}
		.abilities {
			label {
				display: block;
			}
		}
	}
}

// Add Player Monster Form
#monstersForm {
  width: 60%;
  float: left;
  border: 1px solid rgb(0,0,0);
  padding: 1em;
  margin: 1em;
	@include mediaQ_small(860px) {
		width: 100%;
		margin: 0;
	}
}


// Monster Selection List
#monstersList {
	width: 100%;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 3em;
	background: $yellow;
	background-image: url('../img/Qdu8ZOl-wallpaper-old-paper.jpg');
	background-repeat: repeat-y;
	background-position: right center;
}
// Search Monster Styles
.monsters_search {
	position: relative;
	input {
		margin: .5em 0;
	}
	input[type=text] {
		text-align: center;
	}
	input[type=checkbox] {
		line-height: 1.5em;
	}
	a {
		text-decoration: none;
		text-align: center;
		display: block;
		width: 40%;
		min-width: 250px;
		margin: .5em 0;
	}
}
.monster_inlist {
	padding: 0.5em;
	margin: 0.5em 0;
	button {
		margin: 0 0.5em 0 0;
	}
	p {
		display: inline;
	}
}
