// Static Styles
#encounter_box {
  padding: 3em 1em;
	margin: 3em 3em 4em 2em;
	align-self: baseline;
	background: $yellow;
	background-image: url('../img/scroll-middle.jpg');
  position: relative;
  min-height: 200px;
  .top img {
    position: absolute;
    top: -3.4em;
    left: -10%;
    width: 120%;
    @include mediaQ_small(860px) {
      display: none;
    }
    @include mediaQ_medium(861px, 900px) {
      width: 110%;
      top: -5em;
      left: -5%;
    }
  }
  .btm img {
    position: absolute;
    bottom: -3em;
    left: -10%;
    width: 120%;
    @include mediaQ_small(860px) {
      display: none;
    }
    @include mediaQ_medium(861px, 901px) {
      width: 110%;
      bottom: -5em;
      left: -5%;
    }
  }
  @include backGrd;
  @include mediaQ_small(860px) {
    padding: 1em;
    margin: 2em 0;
    width: 100%;
  }
  @include mediaQ_large(901px) {
    width: 35%;
  }
	button.green_btn {
		width: 100%;
	}
  #playerField {
    width: 100%;
    display: flex;
    p {
      text-align: center;
      display: inline-block;
      width: (98%/5);
      margin-bottom: 1em;
      text-decoration: underline;
      @include mediaQ_medium(861px,1070px) {
        width: (98%/5.5);
        font-size: .9em;
      }
    }
  }
  .players_list {
    display: flex;
    margin-bottom: 1.5em;
		position: relative;
    input {
      width: (98% / 5);
      border: 1px solid transparent;
      text-align: center;
      padding: 0.3em;
			background: transparent;
      transition: all 0.2s;
      font-size: .8em;
      @include mediaQ_medium(861px,1070px) {
        width: (98%/5.5);
      }
      &:hover {
        border: 1px solid $gray;
				background: lighten($yellow, 10%);
      }
    }
    button.blue_btn {
      position: absolute;
      top: 0;
      right: 30px;
      margin: 0;
      font-size: .5em;
      @include mediaQ_small(860px) {
        right: 40px;
        font-size: .8em;
      }
    }
    button.gray_btn {
      position: absolute;
      top: 0;
      right: -5px;
      margin: 0;
      font-size: .5em;
      @include mediaQ_small(860px) {
        font-size: .8em;
      }
    }
  }
  h2 {
    margin: 0 auto 1em;
    text-align: center;
    font-size: 1.5em;
  }
}

// Add players form
.overlayForm {
  background: rgba(0,0,0,.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: 10;
}
form.newPlayer_form{
  background: $blue;
  padding: 1em;
  display: block;
  width: 45%;
  margin: 15% auto;
  position: relative;
  @include mediaQ_small(860px) {
    width: 100%;
  }
  input {
    display: inline;
    text-align: center;
    width: (95%/4);
    padding: 10px 0;
    margin-top: 1em;
    @include mediaQ_small(860px) {
      padding: 5px 0;
      font-size: .6em;
    }
  }
  input[type=submit] {
    width: 100%;
  }
}
