@import 'reset';
@import 'variables';
@import 'mixins';
@import 'controls';
@import 'players.scss';
@import 'monsters.scss';

// General Styles
// list of images http://abduzeedo.com/badass-fantasy-illustrations-klaus-pillon

body {
	background-image: url('../img/acaratus___city_of_veturoth___by_klauspillon-d8hkywg.jpg');
	@include backGrd;
	background-attachment: fixed;
	position: relative;
}

.page_wrap {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
	display: flex;
  justify-content: flex-start;
}

h1 {
  text-align: center;
	text-shadow: 3px 3px 2px rgba(41,41,41,0.8),
	-3px 3px 2px rgba(41,41,41,0.8),
	-3px -3px 2px rgba(41,41,41,0.8),
	3px -3px 2px rgba(41,41,41,0.8);
  font-size: 4em;
  padding: 1em 0 0.5em 0;
	font-family: 'Cabin Sketch', 'Cedarville Cursive', 'Marck Script', 'Kaushan Script', sans-serif;
	color: #fff;
	@include mediaQ_small(860px) {
		font-size: 2em;
		text-shadow: 2px 2px 1px rgba(41,41,41,0.8),
		-2px 2px 1px rgba(41,41,41,0.8),
		-2px -2px 1px rgba(41,41,41,0.8),
		2px -2px 1px rgba(41,41,41,0.8);
	}
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: .5em 0;
}

//flex containers
.flex {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.flex_center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	flex-direction: row;
}

.flex_center_nowrap {
	display: flex;
  justify-content: center;
}

// Styles for Empty Array
// Get Started

.empty_players_box, .empty_user_box {
	background: $orange;
	color: #fff;
	text-align: center;
	padding: 1.5em;
	font-size: 0.8em;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0, .5);
	color: $gray;
	text-align: center;
	padding: 1em;
	line-height: 1.2em;
	a {
		color: $gray;
	}
}
#license {
	background: rgba(0,0,0,.6);
	h1 {
		font-size: 2em;
	}
	h2,h3 {
		text-align: center;
		color: $gray;
		font-size: 1.3em;
	}
	p {
		padding: 0 1em;
		color: $gray;
	}
}
