@import 'reset';
@import 'variables';
@import 'mixins';
@import 'controls';

.page_wrap {
	width: 90%;
	margin: 0 auto;
	max-width: 800px;
}

h1 {
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  padding: .5em 0;
}

#encounter_box {
  width: 30%;
  min-width: 380px;
  border: 1px solid rgb(0,0,0);
  padding: 1em;
  #playerField {
    width: 100%;
    display: flex;
    p {
      text-align: center;
      display: inline-block;
      width: (98%/3);
      margin-bottom: 1em;
      text-decoration: underline;
    }
  }
  .players_list {
    display: flex;
    margin-bottom: 1em;
    input {
      width: (98% / 3);
      margin: 0 auto;
      border: 1px solid transparent;
      text-align: center;
      padding: 0.5em 0;
      transition: all 0.2s;
      font-size: 1.1em;
      &:hover {
        border: 1px solid $gray;
      }
      &[type=submit] {
        margin-top: 1em;
        width: 100%;
        cursor: pointer;
        &:hover {
          background: darken(rgba(0,0,0, .6), 20);
        }
      }
    }
  }
  h2 {
    margin: 0 auto 1em;
    text-align: center;
    font-size: 1.5em;
  }
}

//flex containers
.flex_center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


//add players form
.overlayForm {
  background: rgba(0,0,0,.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
form.newPlayer_form{
  background: $blue;
  padding: 1em;
  display: block;
  width: 45%;
  margin: 20% auto;
  position: relative;
  input {
    text-align: center;
    width: (96.4%/3);
    padding: 10px 0;
    margin-top: 1em;
  }
  input[type=submit] {
    width: 100%;
  }
}

.monsterCage {
  width: 60%;
  padding: 1em;
  margin: 1em 1em 0;
  border: 1px solid rgb(0,0,0);
  float: left;
}

#addMonster {
  width: 60%;
  padding: 1em;
  float: left;
  button {
    width: 100%;
    padding: 10px 0;
  }
}

#monstersForm {
  width: 60%;
  float: left;
  border: 1px solid rgb(0,0,0);
  padding: 1em;
  margin: 1em;
}
