@import 'reset';
@import 'variables';
@import 'mixins';
@import 'controls';

// list of images http://abduzeedo.com/badass-fantasy-illustrations-klaus-pillon
body {
	background-image: url('../img/acaratus___city_of_veturoth___by_klauspillon-d8hkywg.jpg');
	@include backGrd;
	background-attachment: fixed;
	animation-name: backGrd;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-duration: 300s;
}

/*
@keyframes backGrd {
	0% {background-image: url('../img/acaratus___city_of_veturoth___by_klauspillon-d8hkywg.jpg');}
	20% {background-image: url('../img/rise_of_the_kage___city_of_ryu___by_klauspillon-d83mi6s.jpg');}

	40% {background-image: url('../img/ur_ghom__city_of_caves_by_klauspillon-d83rgvo.jpg');}

	60% {background-image: url('../img/55-410176.jpg');}

	80% {background-image: url('../img/dragon_s_castle_by_klauspillon-d8fmohg.jpg');}

	100% {background-image: url('../img/evil_monastery_by_klauspillon-d83rh7b.jpg');}
}*/

.page_wrap {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
	display: flex;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  font-size: 4em;
  padding: 1em 0 0.5em 0;
	font-family: 'Cabin Sketch', 'Cedarville Cursive', 'Marck Script', 'Kaushan Script', sans-serif;
	color: #fff;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  padding: .5em 0;
}

#encounter_box {
  width: 30%;
  min-width: 400px;
  padding: 1em;
	margin: 2em;
	align-self: baseline;
	background: $yellow;
	@include backGrd;
	background-image: url('../img/Qdu8ZOl-wallpaper-old-paper.jpg');
	button {
		width: 100%;
	}
  #playerField {
    width: 100%;
    display: flex;
    p {
      text-align: center;
      display: inline-block;
      width: (98%/3);
      margin-bottom: 1em;
      text-decoration: underline;
    }
  }
  .players_list {
    display: flex;
    margin-bottom: 1em;
    input {
      width: (98% / 4);
      border: 1px solid transparent;
      text-align: center;
      padding: 0.3em;
			background: transparent;
      transition: all 0.2s;
      font-size: 1.1em;
      &:hover {
        border: 1px solid $gray;
				background: lighten($yellow, 10%);
      }
    }
  }
  h2 {
    margin: 0 auto 1em;
    text-align: center;
    font-size: 1.5em;
  }
}

//flex containers
.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex_center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex_center_nowrap {
	display: flex;
  justify-content: center;
}


//add players form
.overlayForm {
  background: rgba(0,0,0,.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
form.newPlayer_form{
  background: $blue;
  padding: 1em;
  display: block;
  width: 45%;
  margin: 15% auto;
  position: relative;
  input {
    text-align: center;
    width: (97.3%/4);
    padding: 10px 0;
    margin-top: 1em;
  }
  input[type=submit] {
    width: 100%;
  }
}

.add_monster_btn_wrap button {
	width: 100%;
	display: block;
	margin: 0 auto 1em;
}
monsters {
	margin: 2em 0 2em 2em;
}
#monster {
	width: 100%;
	min-width: 450px;
	max-width: 600px;
	padding: 1em;
	background: $yellow;
	background-image: url('../img/Qdu8ZOl-wallpaper-old-paper.jpg');
	@include backGrd;
	.monsterCage {
	  width: 100%;
	  padding: .1em 1em;
		border-bottom: 1px solid $dark_gray;
	  position: relative;
	  .sectionTitle, .section {
	    margin-top: .7em;
	  }
	  h4 {
			display: inline;
			font-size: 1.3em;
		}
		strong {
			font-size: 1.1em;
		}
		p {
			line-height: 1.5em;
			font-size: .9em;
		}
		label {
			font-size: .6em;
		}
		input {
			font-size: .9em;
			width: 35px;
		}
	}
}

#monstersForm {
	min-width: 450px;
	max-width: 600px;
  width: 60%;
  float: left;
  border: 1px solid rgb(0,0,0);
  padding: 1em;
  margin: 1em;
}

#monstersList {
	min-width: 450px;
	max-width: 600px;
	padding: 0.5em;
	margin-top: 1em;
	background: $yellow;
	background-image: url('../img/Qdu8ZOl-wallpaper-old-paper.jpg');
	background-repeat: no-repeat;
	background-position: right center;
	background-attachment: fixed;
}
.monsters_search {
	input {
		margin: .5em 0;
	}
	input[type=text] {
		width: 49%;
		text-align: center;
	}
	input[type=checkbox] {
		line-height: 1.5em;
	}
	a {
		display: block;
		margin: .5em 0;
	}
}
.monster_inlist {
	padding: 0.5em;
	margin: 0.5em 0;
	button {
		margin: 0 0.5em 0 0;
	}
	p {
		display: inline;
	}
}

.empty_players_box {
	background: $orange;
	color: #fff;
	text-align: center;
	padding: 1.5em;
	font-size: 0.8em;
}
